---
import SimplifiedLogo from "../SimplifiedLogo.astro";
---

<section class="container mx-auto px-4 flex gap-[10px] items-center">
  <SimplifiedLogo />
  <div class="font-plusJakarta text-secondary/600">
    <h2 class="font-normal text-secondary/900 dark:text-white">
      Meta<span class="font-extrabold">Blog</span>
    </h2>
    <p class="dark:text-secondary/300">
      &copy; <span class="text-secondary/900 dark:text-white">mamamamamaa</span>
      2023. All Rights Reserved.
    </p>
  </div>
</section>
