---
import Logo from "./Logo.astro";
import { SearchBar } from "./SearchBar/SearchBar";
import { ThemeSwithcer } from "./ThemeSwithcer/ThemeSwithcer";
---

<Logo />
<div class="flex items-center gap-10">
  <SearchBar client:load />

  <ThemeSwithcer client:load />
</div>
