---
import logo from "/logo.svg";
import search from "/search.svg";
---

<header class="py-8 flex items-center justify-between">
  <img src={logo} alt="logo icon" />
  <div class="flex items-center gap-10">
    <label class="relative cursor-pointer hover:shadow duration-200">
      <img
        src={search}
        alt="search icon"
        class="w-4 h-4 absolute top-1/2 translate-y-[-50%] right-2"
      />
      <input
        type="text"
        placeholder="Search"
        class="w-40 rounded bg-secondary/100 py-2 pl-4 pr-9 cursor-pointer focus:outline-none"
      />
    </label>
    <input type="checkbox" />
  </div>
</header>
