---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<section class="flex flex-col gap-8">
  <h2 class="font-bold text-2xl text-secondary/800 dark:text-white">
    Latest post
  </h2>
  <ul
    class="grid grid-cols-1 items-stretch md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-10"
  >
    {
      posts.map((post) => (
        <li>
          <Post post={post} />
        </li>
      ))
    }
  </ul>
</section>
