---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<section class="postsSection">
  <h2 class="sectionHeading">Latest post</h2>
  <ul class="postList">
    {
      posts.map((post) => (
        <li>
          <Post post={post} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .postsSection {
    @apply flex flex-col gap-8;
  }

  .sectionHeading {
    @apply font-bold text-2xl text-secondary/800 dark:text-white;
  }

  .postList {
    @apply grid grid-cols-1 items-stretch md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-10;
  }
</style>
