---
interface Props {
  tags: string[];
  latest: boolean;
}

const { tags, latest } = Astro.props;

const tagStyle = latest ? "latest" : "base";
---

<ul class="tagList">
  {tags.map((tag) => <li class={tagStyle}>{tag}</li>)}
</ul>

<style>
  .base {
    @apply bg-accentBg rounded-md py-1 px-2.5 text-accent;
  }

  .latest {
    @apply bg-accent rounded-md py-1 px-2.5 text-white;
  }

  .tagList {
    @apply flex gap-3 pb-4 h-fit;
  }
</style>
